<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Cadastro de Aluno</title>
        <link rel="stylesheet" type="text/css" media="screen" href="AC3.Cadastro.css" />
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    </head>
        <body>
		tururu
		{% for a in lista1 %}
		<p> Esse é o item {{a}}</p>
		{% endfor %}
		
		<ul>
			{% for b in lista2 %}
				<li> {{b}} </li>
			{% endfor %}
		</ul>
			
        </body>
</html>